.bt-cart-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end !important;
}
.bt-cart {
	color: white;
	background-color: #31b572;
	padding: 32px;
	width: 18em;
}

.bt-cart-closed{
	display: none;
}